@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: "Abril Fatface", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  & > div {
    display: contents;
  }
  padding: 1em;
}

.hide {
  display: none !important;
}

.copy-input {
  display: inline-flex;
  height: 50px;
  align-items: center;
  border: 1px solid #121212;
  background-color: white;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  transition: background-color 200ms linear;

  &::-moz-selection {
    background: transparent;
  }

  &::selection {
    background: transparent;
  }

  &.mouse-down{
    background-color: black;
    color: white;
    .value{
      background-color: black;
      color: white;
    }
  };

  .value {
    padding: 13px;
    font-family: "PT Mono", monospace;
    border: none;
    outline: none;
    width: 100%;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 200ms linear;
    &::selection {
      background-color: transparent;
    }
  }

  button {
    height: 100%;
    width: 70px;
    border: none;
    background-color: #121212;
    color: white;
    outline: none;
    cursor: pointer;
    .animated-icon {
      width: 26px;
      height: 26px;
      svg {
        path {
          stroke: white;
        }
      }
    }
  }
}

.animated-icon {
  display: inline-block;
}

.qrcode {
  height: 200px;
  width: 200px;
  position: relative;
  svg {
    height: 200px;
    width: 200px;
    fill: #121212;
    &.icon-qr-code {
      width: 63px;
      height: 63px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      border: 6px solid white;
    }
  }
}

.drop-file {
  max-width: 500px;
  width: 100%;
  height: 300px;
  background-color: rgba($color: #000000, $alpha: 0.01);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 200ms linear;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  cursor: pointer;

  input{
    opacity: 0;
    width: 1px;
    height: 1px;
  }

  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.03);
  }
  h2 {
    font-size: 2em;
    margin-top: 0.5em;
  }
  .animated-icon {
    width: 70px;
    height: 70px;
    svg > g > g:nth-child(2) > g:nth-child(1) > g:nth-child(2) > path {
      stroke: rgb(234, 57, 112);
    }
  }
}

.not-connected {
  h1 {
    font-size: 4em;
    margin-bottom: 0.3em;
  }
  h2 {
    &:first-of-type {
      margin-bottom: 0em;
    }
    &:last-of-type {
      margin-top: 0em;
      margin-bottom: 1em;
    }
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 2em;
  }
}

.icon-qr-code .scan-bar {
  animation: scanning-bar linear 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  -webkit-animation: scanning-bar linear 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
}

.received-files {
  width: 500px;
  max-width: 100%;
  max-height: 300px;
  overflow: auto;
  padding: 1em;

  .file {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    &:last-of-type{
      border-bottom: 1px solid transparent;
    }

    a {
      svg {
        width: 25px;
      }
    }
    .name {
      flex: 1;
      font-family: sans-serif;
    }
  }
}

@keyframes scanning-bar {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  24% {
    -webkit-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
  }
  33% {
    -webkit-transform: translate(0px, 20px);
    transform: translate(0px, 20px);
  }
  50% {
    -webkit-transform: translate(0px, 24px);
    transform: translate(0px, 24px);
  }
  100% {
    -webkit-transform: translate(0px, 24px);
    transform: translate(0px, 24px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes scanning-bar {
  0% {
    -webkit-transform: translate(0px, 0px);
  }
  24% {
    -webkit-transform: translate(0px, 20px);
  }
  33% {
    -webkit-transform: translate(0px, 20px);
  }
  50% {
    -webkit-transform: translate(0px, 24px);
  }
  100% {
    -webkit-transform: translate(0px, 24px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}


.alert {
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: column;
  z-index: 9999;
  width: 90%;
  padding: 1em;
  transform: translate(-50%, -100%);
  animation: slide-down 200ms ease-in-out forwards;
  background-color: black;
  color: white;
  opacity: 0;
  font-family: sans-serif;

  .buttons {
    display: flex;
    font-size: 0.7em;
    margin-top: 13px;
    justify-content: space-between;

    .yes {
      margin-right: 5px;
    }
    .no {
      margin-left: 5px;
    }
  }
}

@keyframes slide-down {
  0% {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    transform: translate(-50%, 50%);
    opacity: 1;
  }
}